@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(9 4 22 / 83%);
  color: rgb(255 149 82);
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  background-image: url(assets/game2.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
}

button {
  border: none;
  background: rgb(255 149 82);
  color: rgb(9 4 22 / 83%);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  font-weight: 600;
}

h1 {
  text-shadow: 2px 2px 5px red;
  font-size: 25px;
}

h2 {
  text-shadow: 1px 1px 2px black, 1px 1px 5px red, 2px 0 14px #ff0606;
  font-size: 18px;
}

button:hover {
  color: rgb(255 149 82);
  background: rgb(9 4 22 / 83%);
}

.headline {
  display: flex;
  gap: 50px;
  margin: 10px;
  padding: 10px;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.scores-headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 2px;
  width: 400px;
}

.scores {
  list-style: none;
  border: 1px solid rgb(255 149 82);
  padding: 5px;
  box-shadow: 3px 3px 5px;
  border-radius: 5px;
  margin-top: 0;
  background: #9f1919;
  width: 400px;
}

.add-score {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
  left: 100px;
}

.add-score input {
  border: 3px solid black;
  background: rgb(255 149 82);
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

#form input {
  font-weight: 700;
}

input::placeholder {
  color: rgb(9 4 22 / 83%);
  font-weight: bold;
}

#submit {
  margin-top: 5px;
  width: 60px;
}

.individual-score {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.individual-score:nth-child(even) {
  background-color: rgb(255 149 82);
  color: rgb(9 4 22 / 83%);
  text-shadow: 0 0 2px black;
}

.individual-score:nth-child(odd) {
  text-shadow: 1px 1px 3px #ff000091;
}

.h {
  color: yellow;
}

@media all and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headline {
    display: flex;
    flex-direction: column;
  }

  .add-score {
    position: inherit;
  }

  .scores {
    width: 300px;
  }

  .scores-headings {
    width: min-content;
    gap: 130px;
  }
}