body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(9 4 22 / 83%);
  color: rgb(255 149 82);
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

button {
  border: none;
  background: rgb(255 149 82);
  color: rgb(9 4 22 / 83%);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  font-weight: 600;
}

h1 {
  text-shadow: 2px 2px 5px red;
}

h2 {
  text-shadow: 1px 1px 2px black, 1px 1px 5px red, 2px 0 14px #ff0606;
}

button:hover {
  color: rgb(255 149 82);
  background: rgb(9 4 22 / 83%);
}

.headline {
  display: flex;
  gap: 50px;
  margin: 10px;
  padding: 10px;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.scores-headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scores {
  list-style: none;
  border: 1px solid rgb(255 149 82);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  box-shadow: 3px 3px 5px;
  border-radius: 5px;
  margin-top: 0;
}

.add-score {
  display: flex;
  flex-direction: column;
}

.add-score input {
  border: 3px solid black;
  background: rgb(255 149 82);
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

#form input {
  font-weight: 700;
}

input::placeholder {
  color: rgb(9 4 22 / 83%);
  font-weight: bold;
}

#submit {
  margin-top: 5px;
  width: 60px;
}

.individual-score {
  font-size: larger;
  font-weight: 700;
}

.individual-score:nth-child(even) {
  background-color: rgb(255 149 82);
  color: rgb(9 4 22 / 83%);
  text-shadow: 0 0 2px black;
}

.individual-score:nth-child(odd) {
  text-shadow: 1px 1px 3px #ff000091;
}
